.upper-nav{
    background-color: rgba(49,49,49,1);
    display: flex;
    justify-content: space-between;
    padding: 20px;
    padding-bottom: 5px;
}
.right-upper-nav{
    color: white;
    display: flex;
    justify-content: space-between;
    width:48%
}
.left-upper-nav{
    display: flex;
    justify-content: space-between;
    width:35%;
}
.header{width: 100%;margin: 0;}
.brand1{width:100%;}
.main-box{
    background-color: #232323;
    height: 360px;
    padding-top: 120px;
    padding-bottom: 80px;
    color: white;
}
.main-box-content{
    text-align: center;
}
dt{font-size:32px;}
.logo-back{
    background-color: #00aa55;
    color: white;
    display: inline-block;
    width: 50px;
    height: 50px;
    text-align: center;
    border-radius: 50px;
    padding-bottom: 12px;
}
.main-about{
    padding: 150px;background-color: white;
}
dd{padding-left: 60px;padding-top: 20px;padding-bottom: 40px;}
footer{
    background-color: #282828;
    padding: 25px;
}
@media (max-width:1000px){
    .upper-nav{display: none;}
    .main-about{padding: 20px;padding-top: 100px;}
}