.AOC-content{
    display: flex;
    width:95%;
    margin-left: 5%;
    padding-top:150px
}
.AOCcontainer{
    background-color: white;
    padding-bottom: 40px;
}
.left-aoc{
    width:20%;
    padding: 130px 10px;
}
.mid-aoc{
    width:45%;
    padding:20px 40px;
    margin-left:40px
}
.right-aoc{
    width:40%;
}
.right-aoc img{
    width:400px;
    height: 630px;
    margin-left:60px
}
@media (max-width:1000px){
    .left-aoc{width: 100%; padding: 50px 10px}
    .AOC-content{display: block;padding-top: 30px;}
    .mid-aoc{width:100%;margin-left: 0px;}
    .right-aoc img{margin-left:-10px;width:100%;}
    .right-aoc{width:100%}
}