.AOC-content{
    display: flex;
    width:95%;
    margin-left: 5%;
    padding-top:150px
}
.AOCcontainer{
    background-color: white;
    padding-bottom: 40px;
}
.left-aoc{
    width:20%;
    padding: 130px 10px;
}
.mid-aoc{
    width:45%;
    padding:20px 40px;
    margin-left:40px
}
.right-aoc{
    width:40%;
}
.right-aoc img{
    width:500px;
    height: 400px;
    margin-left:60px
}
.clip-1-content p{font-size: 24px;}
.clip-grid{
  display: grid;
  grid-template-columns: 1fr 1fr;
  width:80%;
  margin-left:15%;
  grid-column-gap: 20px;
  grid-row-gap: 40px;
}
.clip-thumb{
  filter: brightness(0.5);
}
.clip-grid-video :hover{
  filter: brightness(0.2);
}
.clip-video-name{
  color: white;
  position: absolute;
  bottom:0%;
  left:10%;
}
.clip-grid-video{
  position: relative;
}
.play-button{
  font-size: 64px;
  color: #00aa55;
  position: absolute;
  left:40%;
  top:40%;
}






@media (max-width:1000px){
    .left-aoc{width: 100%; padding: 50px 10px}
    .AOC-content{display: block;padding-top: 30px;}
    .mid-aoc{width:100%;margin-left: 0px;}
    .right-aoc img{margin-left:-10px;width:100%;}
    .right-aoc{width:100%}
    .clip-1-flex{display: block;top:5%;}
    .clip-1-flex i{margin-left: 40%;}
    .clip-1-photo{height: 400px;}
    .clip-grid{display: block;width:100%;margin-left:5%;margin-top:80px}
    .clip-grid-video{width:90%;margin-bottom: 50px;}
    .clip-thumb{width:100%}
}
html {
    min-height: 100%;
  }
  
  body {
    min-height: 100%;
    background: #fff;
    font: 14px/125% Tahoma;
    text-align: center;
  }
  
  .popup__overlay2 {
    display: none;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background:black;
    text-align: center;
    z-index: 100;
  }
  
  .popup__overlay2:after {
    display: inline-block;
    height: 100%;
    width: 0;
    vertical-align: middle;
    content: "";
  }
  
  .popup2 {
    display: inline-block;
    position: relative;
    width: 100%;
    height: 100%;
    max-width: 640px;
    max-height: 480px;
    padding: 20px;
    border: 1px solid black;
    background: black;
    color: white;
    vertical-align: middle;
  }
  
  .popup-form__row2 {
    margin: 1em 0;
  }
  
  .popup__close2 {
    display: block;
    position: absolute;
    top: 1px;
    right: 1px;
    width: 12px;
    height: 12px;
    padding: 8px;
    cursor: pointer;
    text-align: center;
    font-size: 12px;
    line-height: 12px;
    color: rgba(53, 36, 22, 0.95);
    text-decoration: none;
    font-weight: bold;
  }
  
  .popup__close2:hover {
    color: #eea200;
  }
  
  iframe {
    width: 100%;
    height: 100%;
  }
  
  /* other styles */
  
  input[type="button"] {
    border: none;
    padding: 0.5em;
    background-color: yellow;
  }
  
  input[type="button"]:hover {
    background-color: yellowgreen;
  }
  
  .popup__overlay3 {
    display: none;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background:black;
    text-align: center;
    z-index: 100;
  }
  
  .popup__overlay3:after {
    display: inline-block;
    height: 100%;
    width: 0;
    vertical-align: middle;
    content: "";
  }
  
  .popup3 {
    display: inline-block;
    position: relative;
    width: 100%;
    height: 100%;
    max-width: 640px;
    max-height: 480px;
    padding: 20px;
    border: 1px solid black;
    background: black;
    color: white;
    vertical-align: middle;
  }
  
  .popup-form__row3 {
    margin: 1em 0;
  }
  
  .popup__close3 {
    display: block;
    position: absolute;
    top: 1px;
    right: 1px;
    width: 12px;
    height: 12px;
    padding: 8px;
    cursor: pointer;
    text-align: center;
    font-size: 12px;
    line-height: 12px;
    color: rgba(53, 36, 22, 0.95);
    text-decoration: none;
    font-weight: bold;
  }
  
  .popup__close3:hover {
    color: #eea200;
  }


  .popup__overlay4 {
    display: none;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background:black;
    text-align: center;
    z-index: 100;
  }
  
  .popup__overlay4:after {
    display: inline-block;
    height: 100%;
    width: 0;
    vertical-align: middle;
    content: "";
  }
  
  .popup4 {
    display: inline-block;
    position: relative;
    width: 100%;
    height: 100%;
    max-width: 640px;
    max-height: 480px;
    padding: 20px;
    border: 1px solid black;
    background: black;
    color: white;
    vertical-align: middle;
  }
  
  .popup-form__row4 {
    margin: 1em 0;
  }
  
  .popup__close4 {
    display: block;
    position: absolute;
    top: 1px;
    right: 1px;
    width: 12px;
    height: 12px;
    padding: 8px;
    cursor: pointer;
    text-align: center;
    font-size: 12px;
    line-height: 12px;
    color: rgba(53, 36, 22, 0.95);
    text-decoration: none;
    font-weight: bold;
  }
  
  .popup__close4:hover {
    color: #eea200;
  }
