.cop-flex1{
    display: flex;
    width: 100%;
    justify-content: space-between;
    margin-bottom: 20px;
}
.cop-flex-img{
    width: 17%;
    height: 30%;
    justify-content: center;
    justify-items: center;
    border: 1px solid black;
    padding:25px
}
.ashabaiImg{
    width:100%
}
.supriyaImg{
    width:100%
}
.cop-flex-text{
    width: 80%;
}
@media (max-width:1000px){
    .cop-flex1{display: block;margin-bottom: 40px;}
    .cop-flex-img{width: 100%;}
    .cop-flex-text{width: 100%;}
}