.csrt-container{
    background-color: white;
}
.csrt-content{
    padding:90px
}
.csrt-hr{
    margin-top:50px;
    border-bottom:2px solid #1e85be;
}
.csrtBtn{
    width:180px;
    height: 50px;
    font-weight: 600;
    border-radius: 25px !important;
    border: none;
    color: white;
    background-color: gray;
}
@media (max-width:1000px){
    .csrt-content{
        padding: 30px;
    }
}