.partners-grid{
	width: 80%;
	margin-left: 10%;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr 1fr;
	grid-row-gap: 40px;
	grid-column-gap: 40px;
	padding-top: 50px;
	padding-bottom: 50px;
	align-items: center;
	justify-items: center;
}
.partners-img{
	width: 150px
}
@media (max-width: 1000px){
	.partners-grid{
		grid-template-columns: 1fr 1fr;
		width: 90%;
		margin-left: 5%
	}
	.partners-img{
		width: 100%
	}
}
