.main-box{
    background-image: url(../team_page-title.jpg);
    background-position: center;
}
.team-container{
    background-color: white;
    padding: 125px;
}
.team-grid{
    width: 94%;
    margin-left: 3%;
    background-color: #f4f4f4;
    display: grid;
    grid-template-columns: repeat(4 , 1fr);
    grid-column-gap: 25px;
    grid-row-gap: 40px;
    margin-top:100px;
}
.team-card img{
    width: 100%;
}
.team-card{
    background-color: white;
    box-shadow: 5px 5px 5px #666;  
}
.team-card-content{
    padding:20px 25px 5px 45px
}
@media (max-width:1000px){
    .team-grid{
        display: block;
        width: 100%;
        margin: 0;
    }
    .team-container{padding: 20px;}
    .team-card{margin-bottom: 20px;}
}