<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ page.title }} - Indian Youth Climate Network</title>
    <link rel="stylesheet" href="./static/css/stylesheet.css" type="text/css">
    
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
</head>
<body>
  
    <div class="header">
        <nav class="navbar navbar-expand-lg navbar-light bg-light nav">
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo03" aria-controls="navbarTogglerDemo03" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
            </button>
            <a class="navbar-brand" href="./index.html"><img src="./static/images/indianyouth-climate.gif" class="brand"></a>

            <div class="collapse navbar-collapse" id="navbarTogglerDemo03">
            <ul class="navbar-nav ml-auto mt-2 mt-lg-0" style="margin-right: 80px;">
                <li class="nav-item active">
                <a class="nav-link" href="./index.html" style="color:#00A956">Home <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    About
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item" href="./about.html">About Us</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="./history.html">Our History</a>
                        <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="./notices.html">Notice Board</a>


                    </div>
                </li>
                <li class="nav-item">
               <a class="nav-link" href="#" tabindex="-1" aria-disabled="true">Our Team</a> 
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Projects
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item" href="./agentofchange.html">Agents of Change</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="./ruralenergyproject.html">Rural Energy Project</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="./climatesolution.html">Climate Solutions Road Tour</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="./climateleadership.html">Climate Leadership Program</a>
                    </div>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Knowledge Center
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item" href="./water.html">Water Conservation</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="#">Green Literature</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="#">Circular Economy</a>
                    </div>
                </li>


                <li class="nav-item">
                    <a class="nav-link" href="./events.html" tabindex="-1" aria-disabled="true">Activities</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    IYCN at COP
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item" href="./iycnCOP1.html">Perspective on CoP22</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="./iycnCOP2.html">Paris Change Negotiations</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="./iycnCOP3.html">THE COP 21 FOR DUMMIES</a>
                    </div>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="./partners.html" tabindex="-1" aria-disabled="true">Partners</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Green Jobs
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item" href="./jobs.html">Circular Economy</a>
                    </div>
                </li>
            </ul>

            </div></nav>
    </div>
    <div class="content">
        {{ content }}
    </div>

    <div class="footer">
        <div class="left-footer">
          <div class="left-footer-container">
            <h5 style="color:white;margin-top: 10px;">Indian Youth Climate Network</h5>
            <p><i class="fas fa-map-marker-alt text-green"></i> H-294, Building 2, Lane 2, First Floor, Westend Marg, near Saket Metro Station, Saidulaja, Delhi-110030</p>
            <p><i class="fas fa-phone-alt text-green"></i> contact@iycn.in</p>
            <p><i class="fas fa-clock text-green"></i> Open Hours: Mon - Fri: 9.00 am. - 6.00 pm. </p>
          </div>
        </div>
        <div class="right-footer">
            <div class="upper-right-footer">
              <div class="upper-left">
                <h4 style="color:white;margin-bottom: 20px;">Join Us</h4>
                <p>As a volunteer</p>
                <p>As a member</p>
                <p>As an intern</p>
                <p>As a full time employee</p>
                <p>As a partner</p>
              </div>
              <div class="upper-right">
                <h4  style="color:white;margin-bottom: 20px;">Locate us</h4>
                <iframe class="map" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://maps.google.com/maps?q=indian%20youth%20climate%20network&amp;t=m&amp;z=12&amp;output=embed&amp;iwloc=near" aria-label="indian youth climate network"></iframe>
              </div>
            </div>
            <div class="text-gray" style="padding:10px 30px 20px 30px">
              Copyright © 2020 by <a href="#" style="color:white">Indian Youth Climate Network</a>. All Rights Reserved.
            </div>
        </div>
      </div>
    
    <script id="mcjs">!function(c,h,i,m,p){m=c.createElement(h),p=c.getElementsByTagName(h)[0],m.async=1,m.src=i,p.parentNode.insertBefore(m,p)}(document,"script","https://chimpstatic.com/mcjs-connected/js/users/f21b726f1ba8d0062503f86af/ceb34041bd5a6c89f6c7b7ca9.js");</script>
  
    <script
    src="https://code.jquery.com/jquery-3.4.1.min.js"
    integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="
    crossorigin="anonymous"></script>
  
        <script src="https://kit.fontawesome.com/622856501a.js" crossorigin="anonymous"></script>
        <script src="./static/index.js" ></script>
      <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
  </body>
  </html>
  
  
